.ultimate {
 //   background-image:url("../Assets/images/hero.jpg") top center; 
    // width: 100%;
    padding-top: 20%;
    height: 100vh;
    // left: 200px;
    text-align: center;
    //background-color: aqua;
    background-size: cover;
}


